In [39]:
# import the modules
import pandas as pd

In [40]:
# locate csvs we need
studentfile = "Resources/students_complete.csv"
schoolfile = "Resources/schools_complete.csv"

# read the csv files
student_data = pd.read_csv(studentfile, encoding='utf-8')
schools_data = pd.read_csv(schoolfile, encoding='utf-8')

# merge the csv files into a single data set
schooldatacomplete_df = pd.merge(student_data, schools_data, how="left", on=['school_name', 'school_name'])
schooldatacomplete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [41]:
# Calculate the total number of schools
numberschools = schooldatacomplete_df['school_name'].nunique()
numberschools

15

In [42]:
# Calculate the total number of students
totalstudents = schooldatacomplete_df['student_name'].count()
totalstudents

39170

In [43]:
# Calculate the total budget
totalbudget = schools_data['budget'].sum()
totalbudget

24649428

In [44]:
# Average math score
averagemath = schooldatacomplete_df['math_score'].mean()
averagemath

78.98537145774827

In [45]:
# Average reading score
averagereading = schooldatacomplete_df['reading_score'].mean()
averagereading

81.87784018381414

In [46]:
# Percent passing math - 70+ (ouch)
findpassmath = schooldatacomplete_df[schooldatacomplete_df['math_score'] >= 70]
passmath = findpassmath['Student ID'].count()
percentpassmath = (passmath / totalstudents) * 100
percentpassmath

74.9808526933878

In [47]:
# Percent passing reading - 70+
findpassreading = schooldatacomplete_df[schooldatacomplete_df['reading_score'] >= 70]
passreading = findpassreading['Student ID'].count()
percentpassreading = (passreading / totalstudents) * 100
percentpassreading

85.80546336482001

In [48]:
# Percent passed math and reading - 70+ in both
findpassboth = schooldatacomplete_df[(schooldatacomplete_df['math_score'] >= 70) & (schooldatacomplete_df['reading_score'] >= 70)]
passboth = findpassboth['Student ID'].count()
percentpassboth = (passboth / totalstudents)* 100
percentpassboth

65.17232575950983

# Set summary table values and format the data so it looks cleaner
summary_df  = pd.DataFrame({
    'Total Schools': numberschools,
    'Total Students': f"{totalstudents:,}",
    'Total Budget': f"${totalbudget:,.2f}",
    'Average Math Score': f"{averagemath:.6f}",
    'Average Reading Score': f"{averagereading:.6f}",
    '% Passing Math': f"{percentpassmath:.6f}",
    '% Passing Reading': f"{percentpassreading:.6f}",
    '% Overall Passing': f"{percentpassboth: .6f}"
}, index=[0])

summary_df

In [50]:
## School Summary

In [51]:
# Create new school summary df and group by school name and type - then compute total students and total school budget for each
schoolnames = schooldatacomplete_df.set_index('school_name').groupby(['school_name'])

In [52]:
# School types
schooltype = schools_data.set_index('school_name')['type']

In [53]:
# Total Students
allstudents = schoolnames['student_name'].count()

In [54]:
# Total School Budget
budget = schools_data.set_index('school_name')['budget']
budget = budget.map("${:,.2f}".format)

In [55]:
# Per student budget
perstudentbudget = (schools_data.set_index('school_name')['budget'] / schools_data.set_index('school_name')['size'])
perstudentbudget = perstudentbudget.map("${:.2f}".format)

In [56]:
# Average math score
avemath = schoolnames['math_score'].mean()

In [57]:
# Average reading
averead = schoolnames['reading_score'].mean()

In [58]:
# Pass math
passmathpercent = schooldatacomplete_df[schooldatacomplete_df['math_score'] >= 70].groupby('school_name')['student_name'].count()/allstudents*100
passmathpercent = passmathpercent.map("{:.6f}".format)

In [59]:
# Pass read
passreadpercent = schooldatacomplete_df[schooldatacomplete_df['reading_score'] >= 70].groupby('school_name')['student_name'].count()/allstudents*100
passreadpercent = passreadpercent.map("{:.6f}".format)

In [60]:
# Pass both
passbothpercent = schooldatacomplete_df[(schooldatacomplete_df['math_score'] >= 70) & (schooldatacomplete_df['reading_score'] >= 70)].groupby('school_name')['student_name'].count()/allstudents*100
passbothpercent = passbothpercent.map("{:.6f}".format)

In [61]:
# create dataframe to hold school summary info
schoolsummary = pd.DataFrame({
    'School Type': schooltype,
    'Total Students': allstudents,
    'Total School Budget': budget,
    'Per Student Budget': perstudentbudget,
    'Average Math Score': avemath,
    'Average Reading Score': averead,
    '% Passing Math': passmathpercent,
    '% Passing Reading': passreadpercent,
    '% Overall Passing': passbothpercent
})

schoolsummary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [62]:
## Find the top 5 schools based on overall pass rate
topschools = schoolsummary.sort_values('% Overall Passing', ascending = False)
topschools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [63]:
## Find the top 5 schools based on overall pass rate
worstschools = schoolsummary.sort_values('% Overall Passing', ascending = True)
worstschools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [64]:
# Average Math Scores by Grade (9th, 10th, 11th, 12th) at each school
ninemaths = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '9th'].groupby('school_name')['math_score'].mean()
ninemaths = ninemaths.map("{:.6f}".format)

tenmaths = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '10th'].groupby('school_name')['math_score'].mean()
tenmaths = tenmaths.map("{:.6f}".format)

elevenmaths = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '11th'].groupby('school_name')['math_score'].mean()
elevenmaths = elevenmaths.map("{:.6f}".format)

twelvemaths = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '12th'].groupby('school_name')['math_score'].mean()
twelvemaths = twelvemaths.map("{:.6f}".format)

mathscores = pd.DataFrame({
    '9th': ninemaths,
    '10th': tenmaths,
    '11th': elevenmaths,
    '12th': twelvemaths
})
mathscores.index.names = ['']
mathscores

                             9th       10th       11th       12th

Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [65]:
# Average Reading Scores by Grade (9th, 10th, 11th, 12th) at each school
ninereading = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
ninereading = ninereading.map("{:.6f}".format)

tenreading = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
tenreading = tenreading.map("{:.6f}".format)

elevenreading = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
elevenreading = elevenreading.map("{:.6f}".format)

twelvereading = schooldatacomplete_df.loc[schooldatacomplete_df['grade'] == '12th'].groupby('school_name')['reading_score'].mean()
twelvereading = twelvereading.map("{:.6f}".format)

readingscores = pd.DataFrame({
    '9th': ninereading,
    '10th': tenreading,
    '11th': elevenreading,
    '12th': twelvereading
})
readingscores.index.names = ['']
readingscores

                             9th       10th       11th       12th

Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [66]:
## Scores by school spending per student

In [83]:
spendingbins = [0, 585, 610, 640, 675]

spendinglabels = ["<$585", "$585-610", "$610-640", "$640-675"]
schooldatacomplete_df['Spending Ranges (Per Student)'] = pd.cut(schooldatacomplete_df['budget'] / schooldatacomplete_df['size'], bins = spendingbins, labels = spendinglabels)


spendavemath = schooldatacomplete_df.groupby('Spending Ranges (Per Student)')['math_score'].mean()
spendavemath = spendavemath.map("{:.2f}".format)

spendaveread = schooldatacomplete_df.groupby('Spending Ranges (Per Student)')['reading_score'].mean()
spendaveread = spendaveread.map("{:.2f}".format)

spendmathpass = schooldatacomplete_df[schooldatacomplete_df['math_score'] >= 70].groupby('Spending Ranges (Per Student)')['student_name'].count()/schooldatacomplete_df.groupby('Spending Ranges (Per Student)')['student_name'].count()*100
spendmathpass = spendmathpass.map("{:.2f}".format)

spendreadpass = schooldatacomplete_df[schooldatacomplete_df['reading_score'] >= 70].groupby('Spending Ranges (Per Student)')['student_name'].count()/schooldatacomplete_df.groupby('Spending Ranges (Per Student)')['student_name'].count()*100
spendreadpass = spendreadpass.map("{:.2f}".format)

spendpassboth = schooldatacomplete_df[(schooldatacomplete_df['math_score'] >= 70) & (schooldatacomplete_df['reading_score'] >= 70)].groupby('Spending Ranges (Per Student)')['student_name'].count()/schooldatacomplete_df.groupby('Spending Ranges (Per Student)')['student_name'].count()*100
spendpassboth = spendpassboth.map("{:.2f}".format)

spending_df = pd.DataFrame({
    "Average Math Score": spendavemath,
    "Average Reading Score": spendaveread,
    "% Passing Math": spendmathpass,
    "% Passing Reading": spendreadpass,
    "% Overall Passing": spendpassboth
})
spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.36,83.96,93.70,96.69,90.64
$585-610,83.53,83.84,94.12,95.89,90.12
$610-640,78.24,81.56,71.96,84.40,61.38
$640-675,77.06,80.96,66.61,80.78,53.67

In [85]:
# Scores by schoolsize
sizebins = [0, 1000, 2000, 5000]
sizelabels = ['Small', 'Medium', 'Large']
schooldatacomplete_df['School Size'] = pd.cut(schooldatacomplete_df['size'], bins = sizebins, labels = sizelabels)


sizeavemath = schooldatacomplete_df.groupby('School Size')['math_score'].mean()
sizeavemath = sizeavemath.map("{:.2f}".format)

sizeaveread = schooldatacomplete_df.groupby('School Size')['reading_score'].mean()
sizeaveread = sizeaveread.map("{:.2f}".format)

sizemathpass = schooldatacomplete_df[schooldatacomplete_df['math_score'] >= 70].groupby('School Size')['student_name'].count()/schooldatacomplete_df.groupby('School Size')['student_name'].count()*100
sizemathpass = sizemathpass.map("{:.2f}".format)

sizereadpass = schooldatacomplete_df[schooldatacomplete_df['reading_score'] >= 70].groupby('School Size')['student_name'].count()/schooldatacomplete_df.groupby('School Size')['student_name'].count()*100
sizereadpass = sizereadpass.map("{:.2f}".format)

sizepassboth = schooldatacomplete_df[(schooldatacomplete_df['math_score'] >= 70) & (schooldatacomplete_df['reading_score'] >= 70)].groupby('School Size')['student_name'].count()/schooldatacomplete_df.groupby('School Size')['student_name'].count()*100
sizepassboth = sizepassboth.map("{:.2f}".format)

size_df = pd.DataFrame({
    "Average Math Score": sizeavemath,
    "Average Reading Score": sizeaveread,
    "% Passing Math": sizemathpass,
    "% Passing Reading": sizereadpass,
    "% Overall Passing": sizepassboth
})
size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small,83.83,83.97,93.95,96.04,90.14
Medium,83.37,83.87,93.62,96.77,90.62
Large,77.48,81.20,68.65,82.13,56.57

In [88]:
# Scores by school type
typeavemath = schooldatacomplete_df.groupby('type')['math_score'].mean()
typeavemath = typeavemath.map("{:.2f}".format)

typeaveread = schooldatacomplete_df.groupby('type')['reading_score'].mean()
typeaveread = typeaveread.map("{:.2f}".format)

typemathpass = schooldatacomplete_df[schooldatacomplete_df['math_score'] >= 70].groupby('type')['student_name'].count()/schooldatacomplete_df.groupby('type')['student_name'].count()*100
typemathpass = typemathpass.map("{:.2f}".format)

typereadpass = schooldatacomplete_df[schooldatacomplete_df['reading_score'] >= 70].groupby('type')['student_name'].count()/schooldatacomplete_df.groupby('type')['student_name'].count()*100
typereadpass = typereadpass.map("{:.2f}".format)

typepassboth = schooldatacomplete_df[(schooldatacomplete_df['math_score'] >= 70) & (schooldatacomplete_df['reading_score'] >= 70)].groupby('type')['student_name'].count()/schooldatacomplete_df.groupby('type')['student_name'].count()*100
typepassboth = typepassboth.map("{:.2f}".format)

type_df = pd.DataFrame({
    "Average Math Score": typeavemath,
    "Average Reading Score": typeaveread,
    "% Passing Math": typemathpass,
    "% Passing Reading": typereadpass,
    "% Overall Passing": typepassboth
})
type_df.index.name = 'School Type'
type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70,96.65,90.56
District,76.99,80.96,66.52,80.91,53.70